In [11]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

Here's a link to the dataset: https://data.world/makeovermonday/2019w34

In [12]:
# my file path, you will have to change it yourself if you want to runt his
file = "/Users/mini/makeover_monday_files/week_39/cellphone_use.csv"
df = pd.read_csv(file)

In [13]:
df.head()

,question,respondent,response,frequency
0,% of US teens/parents who say they spend too m...,Teens,0.54,na
1,% of US teens/parents who say they spend too m...,Parents,0.36,na
2,% of US teens/parents who say they check phone...,Teens,0.44,Often
3,% of US teens/parents who say they check phone...,Parents,0.26,Often
4,% of US teens/parents who say they check phone...,Teens,0.28,Sometimes

## Here are the raw values printed out.

In [15]:
df.response

0     0.54
1     0.36
2     0.44
3     0.26
4     0.28
5     0.32
6     0.14
7     0.30
8     0.37
9     0.42
10    0.08
11    0.15
12    0.23
13    0.24
Name: response, dtype: float64

## Here is the log 10 transformation

In [14]:
print(np.log(df.response))

0    -0.616186
1    -1.021651
2    -0.820981
3    -1.347074
4    -1.272966
5    -1.139434
6    -1.966113
7    -1.203973
8    -0.994252
9    -0.867501
10   -2.525729
11   -1.897120
12   -1.469676
13   -1.427116
Name: response, dtype: float64

## StandardScaler example

This transforms the data based on a normal distribution. So it will to z-scores. I had explained this incorrectly in our session.

In [26]:
reshaped_x = np.array(df.response).reshape(-1, 1)
scaler = StandardScaler()
ss_array = scaler.fit_transform(reshaped_x)
#ss_array

I found an explanation for why you need to reshape the data into a 2d array here. 

http://queirozf.com/entries/scikit-learn-cheatsheet-reference-and-examples#reshape-1-d-arrays

In [ ]:
# X is a 1-d ndarray

# you want a COLUMN vector (many samples, 1 feature)
# X = X.reshape(-1,1)

# you want a ROW vector (one sample, many features)
# X = X.reshape(1,1)

## MinMaxScaler example

The largest value gets assigned 1, and the smallest gets assigned 0. The rest get scaled accordingly to the extent of the dataset.

In [29]:
scaler = MinMaxScaler()
mm_array = scaler.fit_transform(reshaped_x)
mm_array

array([[1.        ],
       [0.60869565],
       [0.7826087 ],
       [0.39130435],
       [0.43478261],
       [0.52173913],
       [0.13043478],
       [0.47826087],
       [0.63043478],
       [0.73913043],
       [0.        ],
       [0.15217391],
       [0.32608696],
       [0.34782609]])